@font-face{
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf");
    
}
@font-face{
    font-family:"Roboto-Regular";
    src:url("fonts/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto-Black";
    src:url("fonts/Roboto-Black.ttf");
}
@font-face{
    font-family: "Roboto-Medium";
    src:url("fonts/Roboto-Medium.ttf");
}
body{
    width:80%;
    margin:0 auto;
    padding:0;

}
ul{
    width: 70%;
    list-style: none;
    margin:10% 20%;
    padding:0;
}
ul li a{
    text-decoration: none;
    color:white;
}
header{
    margin-top: 2%;
    margin-bottom: 2%;
    width:100%;
    height:10%;
    text-align: center;
}
.logo{
    font-family: "Roboto-Bold";
    height:30%;
    display: block;
    margin: 1% auto;
}
.logo :first-child{
    color:rgb(228, 127, 33);
    border: 2px solid gray;
    border-right: 0;
    font-size: 20px;
    padding-left:1%;
}
.logo :last-child{
    color: gray;
    font-size: 20px;
}

.headerNav{
    font-family: "Roboto-Regular";
    height: 70%;
    margin: 2% auto;
    background-color:rgb(127, 194, 247);
}
.headerNav li{
    padding: 1%;
}
.clearFix ::before,
.clearFix ::after{
    content: '';
    display: table;
}
.clearFix ::after{
    clear: both;
}
.headerBaner{

    position: relative;
    width: 100%;
    height: 10%;
}
.headerBaner h1{
    color: white;
    position: absolute;
    top: 50%;
    right: 20%;
}
.headerBaner img{
    width:83%;
    height: 50%;
}
.readMore{
    position: absolute;
    top: 60%;
    right: 45%;
    height:5%;
    width: 10%;
    background-color: rgb(36, 113, 177);
    color:white;
    border:0;
    border-radius: 10px;
    box-shadow: none;
}
.whoWeAre{
    width:100%;
    margin: 0 auto;
    font-family: "Roboto-Regular";

}
.whoWeAre h2{
    text-align: center;
}
.whoWeAre h3{
    padding-left:5%;
    color:rgb(127, 194, 247);
}
.whoWeAre q{
    padding-left: 5%;
}
.whoWeAre ul{
    padding-left: 3%;
    margin: 2%;
}
.whoWeAre ul li{
    width:100%;
    padding: 1%;
    font-size: 10px;
}
.buildingAbout{
    width:100%;
    height:50%;
}
.buildingAbout img{
    width: 90%;
    height: 200px;
    padding-left: 5%;
}
