.clearfix::after{
    content: '';
    display:block;
    clear:both; 
}
.container{
    margin: 0 auto;
    width: 960px;
    background-color:rgb(204, 197, 197);
}
.header{
    padding: 20px; 
    padding-right:30px;
}
.header-logo{
    float: left;
}

.header-text{
    float: right;
    
}

.main{
    padding: 20px;
}

.main-text{
    float: left;
    width: 40%;
}

.main-contact{
    float: right;
    width: 40%;
}


label{
    display: block;
    margin-top: 20px;
}
