@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both; 
}

.header{
    background-color: rgb(170, 13, 13);
    color: #fff;
    border-bottom: 1px solid #fff
}

.header ul{
    list-style: none;
    float: right;
    padding: 0;
    margin: 0
}

.header ul li{
    display: inline;
}

.header a{
    line-height: 50px;
    padding: 20px;
}

.header a:link,
.header a:visited{
    text-decoration: none;
    color: #fff;
    transition: all .3s;

}

.header a:hover,
.header a:active{
    text-decoration: none;
    background-color: #fff;
    color: rgb(170, 13, 13);
}

.img img{
    width: 100%;
    margin-bottom: 0;
}

.col{
    width: 300px;
    height: 200px;
    text-align: center;
    color: #777;
    font-size: 40px;
    background-color: rgb(202, 201, 201);
    padding: 65px 0;
}

.block{
    width: 300px;
    float: left;
    margin-right: 30px;
}

.red{
    background-color: rgb(170, 13, 13);
}

.blue{
    background-color: rgb(0, 27, 36);
}

.yellow{
    background-color: rgb(223, 186, 21);
}

.green{
    background-color: rgb(87, 189, 87);
}

.clear{
    clear: both;
}

.mr{
    margin-right: 0;
}

.side{
    float: right;
    height: 300px;
    width: 280px;
    background-color: rgb(231, 190, 7);
    padding: 8px;
    margin-top: 5px;
}

.side a{
    text-decoration: none;
    display: block;
    color: #000;
    margin-top: 30px;
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.footer p{
    float: left;
    background-color: rgb(0, 27, 36);
    width: 100%;
    color: #fff;
    padding: 10px;
}


