/*.blue{
    background-color: blue;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.uppercase{
    text-transform: uppercase;
}
*/
.active{
    background-color: aqua;
}
.btn {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color:blue;
}