/*.blue{
    background-color: blue;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.uppercase{
    text-transform: uppercase;
}
*/
.active{
    background-color: aqua;
}